+++
title = "Genji"
linkTitle = "Genji"

+++

{{< blocks/cover title="Genji" image_anchor="smart" color="white" >}}
<div class="mx-auto">
	<h2 class="lead mb-5">
		A Document-oriented, Embedded, SQL database
	</h2>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/genjidb/genji">
		Github <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{< blocks/lead color="primary" >}}

<h2 class="m-auto">What is Genji?</h2>

<div class="mt-4">
	<p class="m-auto text-center w-75 lead">Genji is an embedded database written in Go that aims to simplify dealing
		with data
		in
		the
		modern
		world.
		It combines the power of <strong>SQL</strong> with the versatility of <strong>documents</strong> to provide a
		maximum of flexibility with no compromise.
	</p>
</div>

{{< /blocks/lead >}}

{{< blocks/section >}}

{{% blocks/feature icon="fas fa-database" title="The power of SQL with documents" %}}
Run powerful queries on rich documents with an expressive SQL syntax.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-border-style" title="Flexible schemas" %}}
Create tables with strict schemas, partial schemas, or no schemas at all
to control your data the way you want it.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-rocket" title="Feature rich" %}}
Fully serializable transactions, in-memory mode, memory usage control, and more.
{{% /blocks/feature %}}

{{< /blocks/section >}}