{{ $railroad := resources.Get "vendor/railroad.js" }} {{ $railroad := $railroad
| resources.Minify }}

<script type="module">
  import rr, * as rrClass from "{{ $railroad.RelPermalink }}";
  Object.assign(window, rr);
  window.rrOptions = rrClass.Options;

  window.Link = (text, url) => {
    var href = url ? url : "#" + text;
    return rr.Terminal(text, { href, cls: "rr-link" });
  };

  document.querySelectorAll(".rr .language-js").forEach((element) => {
    const s = eval(element.textContent).format().toSVG();
    element.parentNode.replaceChild(s, element);
  });
</script>
