{{ $railroad := resources.Get "vendor/railroad.js" }} {{ $railroad := $railroad
| resources.Minify }}

<script type="module">
  import rr, * as rrClass from "{{ $railroad.RelPermalink }}";
  Object.assign(window, rr);
  window.rrOptions = rrClass.Options;

  document.querySelectorAll(".language-railroad").forEach((element) => {
    const s = eval(element.textContent).format().toSVG();
    // s.removeAttribute("width");
    // s.removeAttribute("height");
    element.parentNode.replaceChild(s, element);
  });
</script>
